<div class="container mt-5">
    <div class="mb-1">
        <button class="btn btn-primary" (click)="onBtnNewCustomerClick()">Add New Customer</button>
    </div>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Country Code</th>
                <th>Gender</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allCustomerData; let i=index">
                <td>{{item.id}}</td>
                <td>{{item.firstname}}</td>
                <td>{{item.lastname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone_Number}}</td>
                <td>{{item.country_code}}</td>
                <td>{{item.gender | uppercase  }}</td>
                <td>{{item.balance | currency}}</td>
                <td><button class="btn btn-primary" (click)="onBtnEditClick(item.id)">Edit</button></td>
                <td><button class="btn btn-primary" (click)="onBtnDeleteClick(item.id,i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>