<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <h2> {{ isUpdateRecord ? "Edit Customer" : "Add Customer"}}</h2>
        <form [formGroup]="customerForm">
            <div class="form-body">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                </div>
                <div class="form-group mt-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <span class="validate-email"
                        *ngIf="customerForm.get('email')?.touched && !customerForm.get('email')?.valid"> This field is
                        required</span>
                </div>
                <div class="form-group mt-3">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                </div>
                <div class="form-group mt-3">
                    <label for="countryCode">Country Code</label>
                    <input type="text" class="form-control" id="countryCode" formControlName="countryCode">
                </div>
                <div class="form-group mt-3">
                    <label for="firstName">Gender</label>
                    <div class="form-control">
                        <input type="radio" name="gender" value="Male" formControlName="gender"> Male
                        <input type="radio" name="gender" value="Female" formControlName="gender"> Female
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="firstName">Balance</label>
                    <input type="text" class="form-control" id="firstName" formControlName="balance">
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary" [disabled]="!customerForm.valid" (click)="onBtnSubmitClick()"> {{
                        isUpdateRecord ? 'Update' : 'Submit' }} </button>
                    <button class="btn btn-primary margin-20" (click)="onBtnClearClick()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>